model/__pycache__
out
website/
docs-minimind-v/
测试.py
.envrc
.vscode/
MiniMind2-V-PyTorch/
MiniMind2-V/
checkpoints/
dataset/__pycache__/
dataset/pretrain_data.parquet
dataset/sft_data.parquet
minimind-v_dataset/
model/vision_model/clip-vit-base-patch16/
trainer/__pycache__/